token = 'DISCORD TOKEN ID'
channel = 'CHANNEL ID'
cert = None # or cert = ('cert/master.pem', 'cert/master.key')
rootCA = None # or 'cert/rootCA.crt'
serverAddr = 'https://master.tes3mp.com:4040/api/admin'

accounts = {
    '178539252563443712': ['koncord', 'mySuperPassw']
}
